.NavBar {
  background-color: #FFFFFF;
  height: 4rem;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks img {
  height: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
}

.navlink:hover {
  color: #00B0FC;
}

.selected {
  font-weight: 800;
  color: #B45AD3;
}

.dropdown-item {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(1, 1fr);
  margin-left: 0;
  background-color: #E0E0E0;
  margin: 1%;
}

.dropdown-info {
  display: inline;
  grid-area: 1/2/1/3;
}

.dropdown-read {
  background-color: #B45AD3;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 6px;
  width: auto;
  height: 20%;
  margin: auto 2%;
  cursor: pointer!important;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
}

.dropdown-image {
  grid-area: 1/1/1/1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: auto 15%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul:before{
  content:attr(aria-label);
  font-size:120%;
  font-weight:bold;
  margin-left:-15px;
}

.notification-icon{
  position: relative;
}

.notification-icon .DropDown {
  visibility: hidden;
  position: absolute;
  display: inline;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 1;
  width: 25rem;
  height: 35rem;
  top: 100%;
  left: 50%;
  margin-left: -22rem;
  margin-top: 0;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
}

.notification-icon:hover .DropDown {
  visibility: visible;
  background-color: #EFEFEF;
}

.DropDown {
  overflow: scroll;
}